// Mixins Here

//Nav styling
.nav-logo() {
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.nav-links() {
  font-size: 1.6rem;
  padding: 20px 10px;
  text-decoration: none;
  color: #22283a;
}

//sign up button

.btn-sign(@display; @padding) {
  font-size: 1.8rem;
  background-color: @btn-bg-color;
  color: @porcelain;
  display: @display;
  padding: @padding 18px;
  border-radius: 5px;
  text-align: center;
}
